@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
  background-color: #D0E7D2;
  letter-spacing: normal;
  line-height: 30px;
  text-indent: 0;
  word-spacing: 0.5px;
}

h2{
  font-size: 1.8rem;
  margin-bottom: 15px;
}

img{
  border-radius: 5px;
}

p{
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
}

figcaption{
  font-size: 1rem;
}

fieldset{
  border: none;
}

.h1-titles{
  font-family: Georgia, Times, serif;
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
  padding: 100px 0 100px 0;
}

.h1-titles::first-letter{
  font-size: 2.8rem;
}

.title-container{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

/* NAVIGATION BAR */

nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #79AC78;
  padding: 20px 0;
}

nav a {
  padding: 14px 16px;
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  padding: 25px;
  margin: 0;
  text-align: center;
}

nav a:hover {
  color: green;
}

nav a:active {
  text-decoration: underline;
}

.nav-logo, .footer-logo{
  width: 80px;
  height: auto;
}

.nav-logo{
  padding: 0 50px;

}

/*Home Page styles*/

#img-homePage{
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

#callToAction-homePage{
  font-family: Georgia, Times, serif;
  font-weight: lighter;
  float: left;
}

/*Grid styles*/

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 30px;
  width: 80%;
  margin: 0 auto;
  padding: 20px 50px;
}

.grid-container > section {
  width: fit-content;
  text-align: left;
  padding: 20px;
  font-size: 22px;
}

.grid-container > section > figure > img {
  width: 100%;
}

.info-boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.info-boxes > article{
  flex-basis: 100%;
  background-color: #B0D9B1;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.info-boxes > article > img{
  max-width: 100px;
  height: auto;
  margin: 20px 0;
}

/*Detail Page styles*/

.center-text{
    text-align: center;
}

.formular{
  width: 100%;
  margin-bottom: 30px;
}

.formular > form{
  background-color: #B0D9B1;
  padding: 50px;
  width: 50%;
  margin: 0 auto;
  border-radius: 8px;
}

.formular > form > p{
  margin-top: 13px;
}

.formular > form > textarea{
  width: 150px;
  height: 80px;
}

#btn-submit, #btn-CTO{
  margin-top: 20px;
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 3px;
  background-color: #79AC78;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#btn-CTO:hover{
  cursor: pointer;
}

table.train-bus-schedule{
  text-align: center;
  position: relative;
  height: auto;
  width: 40%;
  margin: 30px 5% 50px 5%;
}

section.tables{
  width: 100%;
  height: auto;
  margin-bottom: 400px;
}

table#train{
  float: left;
}
table#bus{
  float: right;
}

table.train-bus-schedule th{
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

table.train-bus-schedule tr, table.train-bus-schedule td{
  width: 50%;
}

table.train-bus-schedule tr:nth-child(odd) {
  background-color: #FFF;
}

table.train-bus-schedule tr:nth-child(even) {
  background-color: #CFF;
}

/*Footer styles*/

.footer {
    width: 100%;
    margin-top: 40px;
    background-color: #79AC78;
    color: black;
    text-align: center;
    bottom: 0;
    padding: 50px 0;
}

.footer > p{
    padding: 35px;
}

.cookie-consent {
  position: relative;
  text-align: center;
  padding: 10px;
  width: 100%;
  background-color: #B0D9B1;
  border-radius: 5px;
  box-shadow: 0px -2px 5px rgba(0,0,0,0.3);
  z-index: 9999;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  
  /*Nav Bar Adjustments*/
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  main {
    padding: 20px;
  }

  /*Grid Layout adjustments*/
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  h1, h2 {
    font-size: 1.8rem;
  }

  .btn, .call-to-action {
    padding: 10px 20px;
    font-size: 1.2rem;
  }

}

@media screen and (min-width: 768px){

  /*Nav Bar Adjustments*/

  nav{
    position: fixed;
    flex-direction: row;
  }

  nav li {
    display: inline;
  }

  nav ul {
    text-align: right;
    padding: 25px 60px 25px 25px;
  }

  /*Font Adjustments*/

  .h1-titles{
    font-size: 36px;
    padding: 250px 0 100px 0;
  }

  .grid-container > h1{
    margin-bottom: 15px;
  }

  /*Grid Adjustments*/
  
  .grid-container {
    grid-template-columns: 50% 50%;
  }

  .info-boxes > article{
    flex-basis: calc(33% - 50px);
  }
  
  /*Image Adjustments*/

  .img-detailPages{
    width: 85%;
    height: auto; 
  }

  /*Desktop Adjustments*/
  .formular > form > textarea{
    width: 300px;
    height: 200px;
  }

  .cookie-consent {
    width: 30%;
  }

  /*Table Adjustments*/
  table.train-bus-schedule{
    z-index: -1;
  }
    
  /*Footer Adjustments*/

  .footer{
    position: relative;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
  }

  .footer-logo{
    margin-top: 50%;
  }

  .footer-links{
    list-style: none;
  }

  .footer > article {
    margin: 0 10%;
  }

  p#copyright{
    font-size: 1rem;
  }
 
}
